{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true,
    "jest/globals": true
  },
  "extends": ["@kth/eslint-config-kth", "prettier"],
  "plugins": ["prettier", "jest"],
  "rules": {
    "import/newline-after-import": ["error", { "count": 1 }],
    "semi": ["error", "never"],
    "import/order": "off",
    "quotes": [1, "single", "avoid-escape"],
    "array-callback-return": "off",
    "react/no-access-state-in-setstate": "off"
  }
}
