@use '~@kth/style/scss/utils/prose.scss';

// Spacing, make sure this is the same as $spacer from bootstrap
$spacer: 1.3rem;

@media print {
  @page {
    margin: 13mm;
  }
  #app {
    padding: 0;
  }
  #klaro,
  .kth-local-navigation,
  .kth-local-navigation--mobile,
  .kth-mega-menu,
  .kth-header__tools,
  .kth-content.articleNavigation {
    display: none !important;
  }
  .p-print-0 {
    padding: 0 !important;
  }
  .p-print-1 {
    padding: $spacer * 0.25 !important;
  }
  .p-print-2 {
    padding: $spacer * 0.5 !important;
  }
  .p-print-3 {
    padding: $spacer * 0.75 !important;
  }
  .p-print-4 {
    padding: $spacer * 1 !important;
  }
  .p-print-5 {
    padding: $spacer * 1.3 !important;
  }

  h1 {
    font-size: 32pt;
    margin-bottom: 12pt;
  }

  .memo-subtitle {
    font-size: 24pt;
    font-weight: 600;
  }
  .mainLogo {
    margin: 0 !important;
    padding: 0 !important;
    img {
      width: 26mm !important;
      height: auto !important;
    }
  }
  .cover-page {
    margin-top: 17mm;
    margin-left: 13mm;
    margin-right: 13mm;
    break-after: page;
    p {
      margin-bottom: 1rem;
    }
    h1 {
      line-height: 3.5rem;
    }
    h2 {
      font-size: 32pt;
      margin-top: 28px;
      margin-bottom: 14px;
    }
  }
  .cover-page-links {
    margin-top: 82px; // h2: 28+40+14
  }
  .kth-content {
    max-width: none !important;
    min-width: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .col-print-12 {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .person {
    img {
      display: none;
    }
  }
  .section-wrapper article > h3:first-of-type {
    margin-block-start: 2rem !important;
  }
  .print-contacts {
    @include prose.prose;
  }
}
