@use '~@kth/style/scss/utils/layers.scss';
@use '~@kth/style/scss/utils/reset.scss';
@use '~@kth/style/scss/utils/mixins.scss';
@use '~@kth/style/scss/utils/prose.scss';

@use '~@kth/style/scss/tokens/typography.scss';
@use '~@kth/style/scss/tokens/colors.scss';

@use '~@kth/style/scss/components/logotype.scss';
@use '~@kth/style/scss/components/search.scss';
@use '~@kth/style/scss/components/alert.scss';
@use '~@kth/style/scss/components/footer.scss';
@use '~@kth/style/scss/components/mega-menu.scss';
@use '~@kth/style/scss/components/visually-hidden.scss';
@use '~@kth/style/scss/components/button.scss';
@use '~@kth/style/scss/components/header.scss';
@use '~@kth/style/scss/components/mobile-menu.scss';
@use '~@kth/style/scss/components/menu-item.scss';
@use '~@kth/style/scss/components/menu-panel.scss';
@use '~@kth/style/scss/components/content.scss';
@use '~@kth/style/scss/components/local-navigation.scss';
@use '~@kth/style/scss/components/kpm.scss';

@use '~kth-style/public/sass/variables/_svg_data' as svgData;

@import 'shared';
@import 'fix';
@import 'table'; // defines %table-style
@import 'print';

// Override of kth-style
table {
  border-collapse: collapse;
}

.prose {
  @include prose.prose;
}

.section-wrapper {
  h2 {
    margin-block-start: 2rem;
    margin-block-end: 1rem;
  }
  article {
    @include prose.prose;
    & > h3:first-of-type {
      margin-block-start: 0;
    }
  }
}

section[aria-labelledby='course-presentation'] {
  min-height: 150px;
  @include prose.prose;
  div {
    & > p:first-of-type {
      margin-block-start: 0;
    }
  }
}

#course-presentation-image {
  height: 112.5px;
  margin: 0px 30px 19px 0;
}

@media (max-width: 575.98px) {
  #course-presentation-image {
    height: auto;
    width: 100%;
    max-width: 400px;
    margin: 0 0 23px 0;
  }
}

.archivedMemoPage {
  #local-navigation-title {
    display: none;
  }
}

.content-center {
  @extend %table-style;
}

.print-link {
  &::before {
    content: '';
    display: inline-block;
    background: svgData.$data-print-blue-svg no-repeat;
    background-size: cover;
    width: 22px;
    height: 20px;
    margin-right: 0.625rem;
    vertical-align: middle;
  }
}
button.print-link {
  color: var(--color-tertiary);
  border: none;
  padding: 0;
  text-align: start;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  cursor: pointer;
  @include typography.font-default;
}

span:has(> .btn-info-modal) {
  display: inline-flex;
}

.btn-info-modal {
  font-size: 16px;
  margin-left: 10px;
}

.syllabus-marker-icon {
  height: 0.7rem;
  margin-right: 0.5rem;
  vertical-align: baseline;
  width: 0.7rem;
}

.with-subheader {
  margin-bottom: 0;
}

.subheader {
  margin-bottom: 10px;
}

p.sub-section-header {
  padding-top: 0.8rem;
  margin-bottom: 0;
}

.syllabus-marker-icon-small {
  height: 0.5rem;
  margin-right: 0.3rem;
  width: 0.5rem;
}

sup {
  .syllabus-marker-icon {
    margin-left: 0.3rem;
  }
}

h2:has(+ .info-box) {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
