// Scss code goes here!

#kth-node {
  background: pink;
}

.course-header-title {
  margin-bottom: 0.5rem;
}

.menu-memos {
  margin-left: 1rem;
}

.menu-memos a {
  color: #000000;
}

.menu-memos .active {
  font-weight: 700;
}

.breadcrumb {
  background-color: transparent;
}

.sideMenuLink {
  color: #000000;
  &:hover {
    color: #000000;
  }
}

.course-header-title {
  margin-bottom: 0;
}
